* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* FROM *********/
.form-banner img {
  height: 100%;
  width: 100%;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form-control {  
  -webkit-box-shadow: none!important;
  outline: -webkit-focus-ring-color auto 0px!important;
  cursor: pointer;
} 

/****** LOADER *******/
.laoder-container{
  display: flex;
}